[user]
	name = Sami Shakir

[core]
	excludesfile = /root/git/.gitignore_global

; These will include git email depending on if i am in my work git dir or personal git dir. Adjust as necessary.
; Work specific:
[includeIf "gitdir:~/git/work/"]
        path = ~/git/work/.gitconfig

[includeIf "gitdir:/mnt/c/Users/Sami-Win10-PC/git/work/"]
        path = ~/git/work/.gitconfig

[includeIf "gitdir:/mnt/c/xampp/apache/git/work/"]
        path = ~/git/work/.gitconfig

; Personal:
[includeIf "gitdir:~/git/personal/"]
        path = ~/git/personal/.gitconfig

[includeIf "gitdir:/mnt/c/Users/Sami-Win10-PC/git/personal/"]
        path = ~/git/personal/.gitconfig

[includeIf "gitdir:/mnt/c/xampp/apache/git/personal/"]
        path = ~/git/personal/.gitconfig
